@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin: 0;
}
div{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
h1{
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}
h2{
  font-size: 15px;
  color: #333333;
}
#text{
  font-size: 20px;
  font-weight: 400;
}
h1,h2,#text{
  font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 400px) {
    #text{
        padding: 5px;
    }
}
